
.title{
    font-family: "Jura", sans-serif;
    color: #ffffff;
    font-size: 8rem;
    position: absolute;
    // top: 100px;
    // right: 50px;
    span {
      color: #381bbc;
      font-size: 8rem;
    }
  }
  .smalltitle {
    color: #ffffff;
    font-size: 1rem;
    position: absolute;
    top: 250px;
    // right: 50px;
  }


.Headerimg{
    width: 100%;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    height: 842px;
    border-top: 10px;
    // border-color: #002bc2;
    // border-style: solid;

}